[Unit]
Description=Docker container consul service
After=docker.service
Requires=docker.service

[Service]
Restart=always
EnvironmentFile=-/etc/default/docker-consul
ExecStart=/usr/bin/docker run --name consul --net=host $DOCKER_OPTS consul agent -ui
ExecStop=/usr/bin/docker stop -t 2 consul; /usr/bin/docker rm consul

[Install]
WantedBy=multi-user.target

