[Unit]
Description=Docker container consul service
After=docker.service
Requires=docker.service

[Service]
Restart=always
EnvironmentFile=-/etc/default/docker-consul
ExecStartPre=-/usr/bin/docker stop consul
ExecStartPre=-/usr/bin/docker rm consul
ExecStart=/usr/bin/docker run --rm --name consul --net=host $DOCKER_OPTS consul agent -ui

[Install]
WantedBy=multi-user.target

